<div class="contact-box">
  <% if flash[:danger] %>
     <div class="alert alert-danger"><%= flash[:danger] %></div>
  <% end %>
  <% if flash[:success] %>
    <div class="alert alert-success"><%= flash[:success] %></div>
  <% end %>
  
  <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">New Contact</h4>
            </div>
            <div class="content">
              <%= form_for "Contact", :url => { :action => :add } do |f_contact| %>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>First Name</label>
                      <%= f_contact.text_field :first_name, :required => "required", :autocomplete => "off", :class => "form-control border-input" %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Last Name</label>
                      <%= f_contact.text_field :last_name, :required => "required", :autocomplete => "off", :class => "form-control border-input" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Email</label>
                      <%= f_contact.email_field :email, :required => "required", :autocomplete => "off", :class => "form-control border-input" %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Telephone</label>
                      <%= f_contact.text_field :telephone, :required => "required", :autocomplete => "off", :class => "form-control border-input" %>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <%= f_contact.submit "Create", :class => "btn btn-info btn-fill btn-wd" %>
                </div>
                <div class="clearfix"></div>
              <% end %>
            </div>
        </div>
    </div>
</div> 