<!DOCTYPE html>
<html>
  <head>
    <title><%= @_current_view %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <div class="sidebar" data-background-color="white" data-active-color="danger">
          <div class="sidebar-wrapper">
              <div class="logo">
                  <a href="/" class="simple-text">Conectium</a>
              </div>

              <ul class="nav">
                  <li class="<%= @_contacts_view_active %>">
                      <a href="/contacts">
                          <i class="ti-panel"></i>
                          <p>Contact List</p>
                      </a>
                  </li>
                  <li class="<%= @_contact_view_active %>">
                      <a href="/contact">
                          <i class="ti-panel"></i>
                          <p>New Contact</p>
                      </a>
                  </li>
              </ul>
          </div>
      </div>

      <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="/"><%= @_current_view %></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/logout">
                              <i class="ti-settings"></i>
                              <p>Log Out</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
          <%= yield %>
        </div>
      </div>

    </div>  
  </body>
</html>
